main {
  margin-top: 60px;
}

h1 {
  margin: 0 10px;
  text-align: center;
  font-family: "Amatic SC", cursive;
  font-size: 65px;
}
h2 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 24px;
  text-align: left;
}

h3 {
  margin: 18px 0 12px 0;
  border-bottom: 1px solid #5c4f41;
  font-family: "Special Elite", cursive;
  font-size: 20px;
  text-align: left;
}

p {
  font-family: "Roboto", sans-serif;
  margin-top: 0;
  font-size: 18px;
  text-align: left;
}
img {
  width: 100%;
  padding: 2px;
  margin: 2px;
}
.group {
  display: flex;
  flex-direction: column;
  padding: 3vw;
  align-items: center;
}
.colored {
  background-color: #785a39;
}
.item {
  display: flex;
  flex-direction: column;
  flex: 1;
  margin: 2px;
  padding: 10px;
}
@media all and (min-width: 600px) {
  
  .group {
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .item-double {
    flex: 2;
  }
}